<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanouakira.vueblog.mapper.UserMapper">

    <resultMap id="userMap" type="com.kanouakira.vueblog.entity.UserVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="created" property="created"/>
        <result column="avatar" property="avatar"/>
        <result column="lastLogin" property="last_login"/>
        <result column="status" property="status"/>
        <result column="roleName" property="role_name"/>
    </resultMap>

    <select id="selectUserPage" resultMap="userMap">
        SELECT user.*,role.rolename as role_name FROM user left join role on user.status = role.id order by created asc
    </select>

    <!--    根据id返回用户-->
    <select id="selectUserById" resultMap="userMap" parameterType="java.lang.Long">
        select user.*,role.rolename as role_name from user left join role on user.status = role.id where user.id = #{id}
    </select>
</mapper>
